.login-form {
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-form form {
    width: 100%;
    max-width: 300px;
    padding: 15px;
    border: solid 1px #bbb;
    border-radius: 4px;
}